@import url('fonts.css');

/* ----------------------------- CSS Reset ----------------------------- */
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    Colors:
    Base color (blue): #0032a0
    Hover color: #8397c6 
    
*/
/* ----------------------------- Global Classes & Styling ----------------------------- */

body{
    font-family: "Open Sans", sans-serif;
    color: #0032a0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.btn{
    color: white;
    background-color: #0032a0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.5rem 2.5rem;
    border-radius: 1.5em;
}

.btn-white{
    background-color: white;
    color: #0032a0;
}

/* ----------------------------- Navbar ----------------------------- */

.navbar, .navbar-mobile-upper{
    /* background-color: lightcoral; */
    height: 70px;
    padding: 0 12vw 0 14vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-mobile{
    display: none;
    height: 70px;
    overflow: hidden;
}
.nav-expand{
    width: 100%;
    text-align: center;
    padding: 1rem 3rem;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav-expand-item{
    border-bottom: solid grey 1px;
    margin-bottom: 1rem;
}
.nav-expand-item a{
    font-size: 1.1rem;
    font-weight: bold;
    color: #0032a0;
}
.nav-brand-logo{
    height: 50px;
}
.nav-manu{
    display: flex;
    align-items: center;
}
.nav-manu li{
    /* border: solid red; */
    width: 105px;
}
.nav-manu .nav-link-container{
    width: fit-content;
    margin: auto;
}
#about-us-nav-link{
    margin-right: auto;
}
.nav-manu .nav-link{
    text-transform: uppercase;
    color: #0032a0;
    font-size: 18px;
    letter-spacing: 0.5px;
}
.nav-manu .growing-line{
    background-color: #0032a0;
    height: 2px;
    width: 0;
    margin: auto;
    transition: 0.5s;
}

.nav-manu .nav-link:hover{
    font-weight: 700;
}
.nav-manu .nav-link:hover + .growing-line{
    width: 100%;
}

.nav-img{
    height: 40px;
    margin-left: 1rem;
    fill: #0032a0;
    cursor: pointer;
}
.nav-img:hover{
    fill: #8397c6;
}
.navbar-mobile .bar-icon{
    font-size: 1.5rem;
    cursor: pointer;
}

/* ----------------------------- Carousel ----------------------------- */
.carousel-container{
    position: relative;
}
.item{
    position: relative;
}
.item .sticker{
    position: absolute;
}
#sticker1{
    bottom: 50px;
    right: 50px;
}
#sticker2{
    bottom: 20px;
    left: 250px;
}
#sticker3, #sticker5{
    max-width: 450px;
    bottom: 50%;
    text-align: center;
    padding: 1.5rem;
    transform: translateY(50%);
}
#sticker3{
    left: 10%;
    color: white;
}
#sticker3 h3{
    font-size: 2rem;
    text-shadow: black 0px 0px 5px;
    margin-bottom: 1rem;
}
#sticker3 p{
    font-size: 1.3rem;
    text-shadow: black 0px 0px 5px;
    margin-bottom: 2rem;
}
#sticker4{
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
#sticker5{
    left: 5%;
}
#sticker5 p{
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.owl-nav{
    /* background-color: navy; */
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;
    z-index: 500;
}
.owl-prev, .owl-next{
    font-size: 3rem;
    background-color: white;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;
}
.owl-prev:hover, .owl-next:hover{
    transform: scale(1.1);
    opacity: 1;
}

 
/*  */
.title{
    font-size: 2rem;
    font-weight: 700;
    margin: 4rem auto 2rem;
    text-align: center;
}
.sections{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.section-card svg{
    fill: #0032a0;
    height: 100px;
    margin-bottom: 0.5rem;
}
.section-card a{
    color: #0032a0;
}
.section-card a:hover{
    opacity: 0.7;
}
.section-title span{
    text-transform: uppercase;
    font-weight: 700;
}



@media (max-width: 750px){
    .navbar{
        padding: 0 1rem;
    }
}

@media (max-width: 600px){
    .navbar{
        display: none;
    }
    .navbar-mobile{
        display:  block;
        transition: 0.5s;
    }
    .show-hide{
        height: 17.5rem;
    }
    .navbar-mobile-upper{
        /* height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between; */
    }
    .sections{
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
}